/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/my-data
/mysql
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
storage
my-data/*
mysql/*
public/Uploaded/Gallery/Img


